<div class="row">
    <div class="cell flex">
        <div class="body ui-block">
        </div>
    </div>
</div>
<div class="row">
    <div class="cell">
        <div class="footer">
        </div>
    </div>
</div>
