<div class="building-list-view ui-list-window">
    <div class="row body">
        <div class="cell">
            <div class="body">
                {{#buildings}}
                    <div class="item">
                        <div class="name">{{ displayName }}</div>
                        <div class="img-space">
                            <div class="space">
                                <div class="img" style="background-image: url('ui/img/buildings/{{code}}.png');"></div>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="#build/{{ code }}" class="build">Build</a>
                            <a data-building="{{code}}"  class="info">Info</a>
                        </div>
                    </div>
                {{/buildings}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <div class="buttons count-2">
                <a href="javascript:window.history.back();" class="button ui-button">
                    <img class="icon back-icon" src='ui/img/onebyone.gif'/>

                    <div class="text">Return</div>
                </a>
                <a href="javascript:void(0);" class="button ui-button">
                    <img class="icon coin-icon" src='ui/img/onebyone.gif'/>

                    <div class="text">Close</div>
                </a>
            </div>
        </div>
    </div>

</div>