<div class="bird-eye-container"></div>
<div class="info-container">
</div>
<div class="ui-hr hr"></div>
<div class="res-cnt">
    Resources
    <div class="ui-list res-list">
        <div class="item">
            <div class="key">
                Available
            </div>
            <div class="val available-resources">

            </div>
        </div>
        <div class="item">
            <div class="key">
                Consuming
            </div>
            <div class="val required-resources">

            </div>
        </div>
    </div>
</div>