<div class="top-bar">
    <div class="city-name">
        {{cityName}}
    </div>
    <div class="left">
        <div class="section">
            <div class="icon-val">
                <div class="icon citizen-icon">
                    <img src='ui/img/onebyone.gif'/>
                </div>
                <div class="text population">{{population}}</div>
            </div>
        </div>
        <div class="section">
            <div class="icon-val ">
                <div class="icon coin-icon">
                    <img src='ui/img/onebyone.gif'/>
                </div>
                <div class="text money">{{gold}}</div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="section">
            <div class="icon-val">
                <div class="icon clock-icon">
                    <img src='ui/img/onebyone.gif'/>
                </div>
                <div class="text date">{{dt}}</div>
            </div>
        </div>
    </div>
</div>
