<div class="row">
    <div class="cell">
        <div class="head-slot">
        </div>
    </div>
</div>
<div class="row">
    <div class="cell flex">
        <div class="body-slot">
        </div>
    </div>
</div>
