<div class="prompt-view ui-window">
    <div class="row">
        <div class="cell flex">
            <div class="body ui-block">
                <div class="centerer">
                    <label>
                        {{ message }}
                        <input placeholder="{{placeholder}}" type="text"/>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <div class="buttons count-2">
                <a class="button ui-button discard">
                    <img class="icon cross-icon" src='ui/img/onebyone.gif'/>

                    <div class="text">Cancel</div>
                </a>
                <a class="button ui-button submit">
                    <img class="icon tick-icon" src='ui/img/onebyone.gif'/>

                    <div class="text">Build</div>
                </a>
            </div>
        </div>
    </div>
</div>