<div class="icon-bar">
    <div class="items">
        {{#items}}
        <div class="item">
            <img class="{{icon}}-icon" title="{{value}} {{title}}" src='../../../../../img/onebyone.gif'/>{{value}}
        </div>
        {{/items}}
    </div>
</div>