<div class="building-view ui-window">
    <div class="row">
        <div class="cell flex">
            <div class="body ui-block">
                <div class="eye">
                    <div class="img" style="background-image: url(ui/img/buildings/{{building.code}}.png)"></div>
                </div>
                <div class="params">
                    Name: <div>{{building.displayName}}</div>
                </div>
                <div class="info">
                    {{ building.description }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <div class="buttons count-2">
                <a href="javascript:window.history.back();" class="button ui-button">
                    <img class="icon back-icon" src='../../../../../img/onebyone.gif'/>

                    <div class="text">Return</div>
                </a>
                <a href="#build/{{building.code}}" class="button ui-button">
                    <img class="icon bulldozer-icon" src='../../../../../img/onebyone.gif'/>

                    <div class="text">Build</div>
                </a>
            </div>
        </div>
    </div>

</div>