<div id="categoriesView">

    <div class="item" buildingCode="2">
        <div class="img">
            <img src="img/cat/house2.png"/>
        </div>
        <div class="name">
            Small house
        </div>
    </div>
    <div class="item" buildingCode="3">
        <div class="img">
            <img src="img/cat/house2.png"/>
        </div>
        <div class="name">
            Small house
        </div>
    </div>
    <div class="item" buildingCode="4">
        <div class="img">
            <img src="img/cat/house.png"/>
        </div>
        <div class="name">
            Small house
        </div>
    </div>
    <div class="item" buildingCode="5">
        <div class="img">
            <img src="img/cat/house2.png"/>
        </div>
        <div class="name">
            Small house
        </div>
    </div>
    <div class="item" buildingCode="6">
        <div class="img">
            <img src="img/cat/house.png"/>
        </div>
        <div class="name">
            Small house
        </div>
    </div>
</div>