<div id="cityView">
    <div class="content">
        <div>
            <div class="row name">
                <div class="key">Name</div>
                <div class="value">-</div>
            </div>
            <div class="row resources">
                <div class="key">Resources</div>
                <div class="value" style="margin: 0px"></div>
            </div>
            <div class="row produce">
                <div class="key">Produce</div>
                <div class="value" style="margin: 0px"></div>
            </div>
            <div class="row demand">
                <div class="key">Demand</div>
                <div class="value" style="margin: 0px"></div>
            </div>
            <div class="row maintenance">
                <div class="key">Maintenance cost</div>
                <div class="value" style="margin: 0px"></div>
            </div>
            <div class="row income">
                <div class="key">Income</div>
                <div class="value" style="margin: 0px"></div>
            </div>
            <div class="row buildings">
                <div class="key">Buildings</div>
                <div class="value"></div>
            </div>

            <div class="tileRatingsMap">
                <canvas id="mapcnv" width="512" height="512" style="width: 512px; height: 512px; display: block;"></canvas>
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="btn btn-default renameButton">Rename</div>
        <div class="btn btn-default locateButton">Locate</div>
    </div>
</div>