<div id="gameView">
    <div id="topBar">
        <div class="container fixedWidth">
            <div class="resources">

            </div>

            <div id="date"></div>
        </div>


    </div>
    <div id="mainCanvasContainer">
        <canvas id="mainCanvas" width="640" height="480"></canvas>
    </div>
    <div id="toolBar"  class="box">
        <div class="fixedWidth">
            <a class="button button0" href="#" style="display: none">
                <img src="img/bender.png">
            </a>
            <a class="button button1" href="#">
                <img src="img/move.png">
            </a>
            <a class="button button2" href="#">
                <img src="img/buldozer.png">
            </a>
            <a class="button button3" href="#">
                <img src="img/house.png">
            </a>
            <a class="button button4" href="#">
                <img src="img/road.png">
            </a>
            <a class="button button5" href="#" style="display: none">
                <img src="img/road.png">
            </a>
            <a class="button button6" href="#">
                <img style="margin: 4px;" src="img/bulb.png">
            </a>


            <a class="button buttonCancel" href="#" style="float: right">
                <img style="margin: 4px;" src="img/cancel.png">
            </a>
            <a class="button buttonConfirm" href="#"  href="#" style="float: right">
                <img style="margin: 4px;"  src="img/ok.png">
            </a>
            <a class="button buttonRotate" href="#" style="float: right">
                <img style="margin: 4px;" src="img/rotate.png">
            </a>
        </div>
    </div>
    <div id="messageStack">
    </div>
</div>