<div class="labView layout view">
    <div class="content">
        <div class="wrapper">
            <h2>Laboratory</h2>

            <div class="layout group">
                <div class="label">Municipal</div>
                <div class="content">
                    <div class=" labDirection" researchCode="0">
                        <div class="lvl">Level <span>1</span></div>
                        <button class="researchBtn btn btn-default" researchCode="0">Research</button>
                        <div class="time">Time <span>4s</span></div>
                        <div class="cost" style="display: none">Cost <span>123</span></div>

                        <div class="progress"></div>
                    </div>
                </div>
            </div>

            <div class="layout group">
                <div class="label">Housing</div>
                <div class="content">
                    <div class="labDirection" researchCode="1">
                        <div class="lvl">Level <span>2</span></div>
                        <button class="researchBtn btn btn-default" researchCode="1">Research</button>
                        <div class="time">Time <span>66s</span></div>
                        <div class="cost" style="display: none">Cost <span></span></div>

                        <div class="progress" style="width: 50%"></div>
                    </div>
                </div>
            </div>

            <div class="layout group">
                <div class="label">Commerce</div>
                <div class="content">
                    <div class=" labDirection" researchCode="2">
                        <div class="lvl">Level <span>3</span></div>
                        <button class="researchBtn btn btn-default" researchCode="2">Research</button>
                        <div class="time">Time <span>5s</span></div>
                        <div class="cost" style="display: none">Cost <span></span></div>

                        <div class="progress" style="width: 90%"></div>
                    </div>
                </div>
            </div>

            <div class="layout group">
                <div class="label">Industry</div>
                <div class="content">
                    <div class=" labDirection" researchCode="3">
                        <div class="lvl">Level <span>4</span></div>
                        <button class="researchBtn btn btn-default" researchCode="3">Research</button>
                        <div class="time">Time <span>2s</span></div>
                        <div class="cost" style="display: none">Cost <span></span></div>

                        <div class="progress" style="width: 10%"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="buttons">
        <button class="btn btn-default" style="display: none">Test</button>
    </div>
</div>