<div class="item ui-block commercial">
    <div class="body">
        <div class="cat-image">
            <div class="cat-img"></div>
        </div>
        <div class="cat-name">
            Commercial
        </div>
    </div>
</div>