<div class="top-bar">
  <div class="city-name">
    My City
  </div>
  <div class="left">
    <div class="section population">
      <div class="icon citizen-icon">
        <img src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' />
      </div>
      <div class="text">123/223</div>
    </div>
    <div class="section resources">
      <div class="icon coin-icon">
        <img src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' />
      </div>
      <div class="text">12k</div>
    </div>
  </div>
  <div class="right">
    <div class="section resources">
      <div class="icon clock-icon">
        <img src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' />
      </div>
      <div class="text">27/11/3</div>
    </div>
  </div>
</div>
