<div class="world-view ui-window">
  <div class="row">
    <div class="cell">
        <div class="body">
            <canvas id="mainCanvas"></canvas>
            <div class="btns">
                <div class="slot">
                    <img class="btn" src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='/>
                </div>
                <div class="slot">
                    <img class="btn" src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='/>
                </div>
                <div class="slot">
                    <img class="btn" src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='/>
                </div>
                <div class="slot">
                    <img class="btn" src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='/>
                </div>
                <div class="slot">
                    <img class="btn" src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='/>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
