<div class="city-view ui-window">
    <div class="row">
        <div class="cell">
            <div class="tabs-section">
                <div class="tabs">
                    {{#each tabs}}
                        <div class="tab" data-tab="{{@key}}">{{@key}}</div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell flex">
            <div class="body">
                {{#each tabs}}
                    <div class="tab-content" data-tab="{{@key}}">
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <div class="buttons count-2">
                <a href="javascript:window.history.back();" class="button ui-button">
                    <img class="icon back-icon" src='ui/img/onebyone.gif'/>
                    <div class="text">Action 1</div>
                </a>
                <a href="cat.html" class="button ui-button success">
                    <img class="icon back-icon" src='ui/img/onebyone.gif'/>
                    <div class="text">Action 2</div>
                </a>
            </div>
        </div>
    </div>
</div>