<div class="buildingInfoView layout view">
    <div class="content">
        <div class="wrapper">
            <h2 class="name">Tiny House</h2>

            <div class="layout group">
                <div class="label">Info</div>
                <div class="content">
                    <div class="layout list">
                        <div class="item size">
                            <div class="key">Size</div>
                            <div class="value"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layout group">
                <div class="label">Construction</div>
                <div class="content">

                    <div class="layout list">
                        <div class="item ccost">
                            <div class="key">Cost</div>
                            <div class="value"></div>
                        </div>
                        <div class="item ctime">
                            <div class="key">Time</div>
                            <div class="value"></div>
                        </div>
                        <div class="item" style="display: none">
                            <div class="key">Text</div>
                            <div class="value"> asd asd as dlgklas kgjkh aksjghkjhga kghkajshgd khjgaskdhg asd asd as
                                dlgklas kgjkh aksjghkjhga kghkajshgd khjgaskdhg asd asd as dlgklas kgjkh aksjghkjhga
                                kghkajshgd khjgaskdhg asd asd as dlgklas kgjkh aksjghkjhga kghkajshgd khjgaskdhg asd asd
                                as dlgklas kgjkh aksjghkjhga kghkajshgd khjgaskdhg asd asd as dlgklas kgjkh aksjghkjhga
                                kghkajshgd khjgaskdhg asd asd as dlgklas kgjkh aksjghkjhga kghkajshgd khjgaskdhg asd asd
                                as dlgklas kgjkh aksjghkjhga kghkajshgd khjgaskdhg asd asd as dlgklas kgjkh aksjghkjhga
                                kghkajshgd khjgaskdhg asd asd as dlgklas kgjkh aksjghkjhga kghkajshgd khjgaskdhg asd asd
                                as dlgklas kgjkh aksjghkjhga kghkajshgd khjgaskdhg asd asd as dlgklas kgjkh aksjghkjhga
                                kghkajshgd khjgaskdhg asd asd as dlgklas kgjkh aksjghkjhga kghkajshgd khjgaskdhg asd asd
                                as dlgklas kgjkh aksjghkjhga kghkajshgd khjgaskdhg asd asd as dlgklas kgjkh aksjghkjhga
                                kghkajshgd khjgaskdhg asd asd as dlgklas kgjkh aksjghkjhga kghkajshgd khjgaskdhg asd asd
                                as dlgklas kgjkh aksjghkjhga kghkajshgd khjgaskdhg asd asd as dlgklas kgjkh aksjghkjhga
                                kghkajshgd khjgaskdhg asd asd as dlgklas kgjkh aksjghkjhga kghkajshgd khjgaskdhg asd asd
                                as dlgklas kgjkh aksjghkjhga kghkajshgd khjgaskdhg asd asd as dlgklas kgjkh aksjghkjhga
                                kghkajshgd khjgaskdhg
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layout group" style="display: none">
                <div class="label">Research</div>
                <div class="content">

                    <div class="layout list">
                        <div class="item rstate">
                            <div class="key">State</div>
                            <div class="value"><span class="prog"></span><span>&nbsp;</span><span class="state">-</span>
                            </div>
                        </div>
                        <div class="item rcost">
                            <div class="key">Cost</div>
                            <div class="value"></div>
                        </div>
                        <div class="item rtime">
                            <div class="key">Time</div>
                            <div class="value"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layout group">
                <div class="label">Production</div>
                <div class="content">

                    <div class="layout list">
                        <div class="item gather">
                            <div class="key">Gathering</div>
                            <div class="value"></div>
                        </div>
                        <div class="item produce">
                            <div class="key">Producing</div>
                            <div class="value"></div>
                        </div>
                        <div class="item demand">
                            <div class="key">Demanding</div>
                            <div class="value"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="button1">Build</div>
        <div class="button2" style="display: none">Research</div>
    </div>
</div>